html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.offerview-section {
    position: relative;
    padding: 120px 0;
    overflow: hidden;
}

.offerview-section .support-block {
  position: relative;
  background: #f0f0f0;
  margin: 50px 0 0; 
  padding: 50px 30px 30px;
  text-align: center;
}

.offerview-section .support-block.active {
  background: #34b483;
}

.offerview-section .support-block:hover h3,
.offerview-section .support-block:hover p {
    color: #222222;
}

.offerview-section .support-block.active h3,
.offerview-section .support-block.active p,
.offerview-section .support-block.active li {
  color: #fff;
}

.offerview-section .support-block img {
    border-radius: 7px;
}

.offerview-section .support-block.active .btn {
    border: 1px solid #fff;
    color: #fff;
}

/*.offerview-section .support-block:hover .btn:hover {
  background: #fff;
  color: #ff7f66;
  z-index: 1;
}*/

.offerview-section .support-block.active .btn::after {
    background: #fff;
}

.offerview-section .price {
  font-family: 'Dosis', sans-serif;
  color: #fafafa;
  font-size: 28px; 
}
.offerview-section .month {
  font-family: 'Dosis', sans-serif;
  color: #dadada;
}

.alt-navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    display: block;
}

.large-logo img {
    height:60px;
}

/*
========================================================================
# - Terms and Policy
------------------------------------------------------------------------
*/
section.terms .section p {
    text-align: justify;
}

section.terms h2#title {
    color: #000;
}

section.terms .logo-title img {
    width: 80%;
}

section.terms .toc-wrapper {
    width: 25%;
}

section.terms .toc-wrapper ul li a {
    /*color: #000;*/
}
section.terms .toc-wrapper ul li a.active {
    color: #34b483;
}

span.brand {
    color: #34b483;
    font-weight: bold;
}